.paging{
   height: 26px;
   margin-bottom: 20px;
}

.one-page{
   height: 26px;
   line-height: 26px;
   width: 26px;
   text-align: center;
   display: inline-block;
   margin-right: 11px;
   background: #d6d0bd;
   cursor: pointer;
   font-size: 14px;
   color: #7d7a7f;
   border: 2px solid #d6d0bd;
   transition: all 200ms ease;
}

.point{
   display: inline-block;
   margin-right: 11px;
}

.one-page a{
   color: #7d7a7f;
   text-decoration: none;
}

.one-page:hover{
   background: #ffffff;
   border: 2px solid #242020;
}

.one-page.active{
   background: #242020;
   border: 2px solid #242020;
}

.count-page{

   line-height: 26px;
   float: right;
   color: #787979;
   text-align: right;
}

.count-page a{
   margin-left: 5px;
   text-decoration: none;
}

.count-page b{
   margin-left: 5px;
}

.fast-preview{
   display: none;
   position: absolute;
   z-index: 20;
   border: 2px solid #c21110;
   background: #ffffff;
   padding: 4px 4px 4px 2px;
   margin-left: -55px;
   margin-top: -6px;
   height: 390px;
   width: 280px;
   box-sizing: border-box;
}

.left-col-in-fast{
   position: absolute;
   text-align: center;
}

.left-col-in-fast img{
   margin-bottom: 5px;
   cursor: pointer;
   border: 2px solid #ffffff;
}

.left-col-in-fast img.active{
   border: 2px solid #242020;
}

.catalog-wrapper{
   overflow: visible !important;
}

.fast-preview .catalog-detail-props{
   position: absolute;
   width: 220px;
   margin-left: 53px;
   top: 339px;
}

.fast-preview .catalog-detail-props_title{
   margin: 0;
   font-size: 12px;
}

.fast-preview .catalog-colors-list{
   margin-left: 0;
}

.big-ph-in-pr{
   position: absolute;
   width: 220px;
   height: 330px;
   left: 53px;
}

.big-ph-in-pr > img{
   width: 100%;
}

.full-fast-button{
   
   background: linear-gradient(left, #a09984 0%,#b6b09c 50%,#a09984 100%);
   background: -moz-linear-gradient(left, #a09984 0%,#b6b09c 50%,#a09984 100%);
   
   background: -webkit-linear-gradient(left, #a09984 0%,#b6b09c 50%,#a09984 100%);
   
   background: -o-linear-gradient(left, #a09984 0%,#b6b09c 50%,#a09984 100%);
   background: -ms-linear-gradient(left, #a09984 0%,#b6b09c 50%,#a09984 100%);
   
   color: #242020;
   line-height: 40px;
   position: absolute;
   z-index: 2;
   left: 20px;
   top: 130px;
   padding: 0 20px;
   font-size: 14px;
   cursor: pointer;
}

.full-fast-button:hover {
   background: linear-gradient(left, #a09984 0%,#b6b09c 20%,#b6b09c 80%,#a09984 100%);
   background: -moz-linear-gradient(left, #a09984 0%,#b6b09c 20%,#b6b09c 80%,#a09984 100%);
   
   background: -webkit-linear-gradient(left, #a09984 0%,#b6b09c 20%,#b6b09c 80%,#a09984 100%);
   
   background: -o-linear-gradient(left, #a09984 0%,#b6b09c 20%,#b6b09c 80%,#a09984 100%);
   background: -ms-linear-gradient(left, #a09984 0%,#b6b09c 20%,#b6b09c 80%,#a09984 100%);
   
}

.fast-preview .catalog-colors-list li{
   line-height: 23px;
}

.after-photo{
   width: 100%;
   vertical-align: top;
}

.after-photo tr{
   vertical-align: top;
}

.left-col{
   width: 140px;
   padding-top: 87px;
}

.right-col{
   padding-left: 20px;
   width: 380px;

}

.gray-line{
   height: 4px;
   background: #efefef;
   margin-top: 20px;
}


a.catalog-detail-props__delivery {
   float: left;
   padding-top: 11px;
   padding-bottom: 11px;
   background: url(../img/delivery-ico.png) 10% center no-repeat;
}

a.catalog-detail-props__credit {
   float: right;
   padding-top: 4px;
   padding-bottom: 4px;
   background: url(../img/credit-ico.png) 15% center no-repeat;
}

a.catalog-detail-props__sv{
   float: left;
   padding-top: 4px;
   padding-bottom: 4px;
   background: url(../img/sv-ico.png) 15% center no-repeat;
}

a.catalog-detail-props__garant {
   float: right;
   padding-top: 4px;
   padding-bottom: 4px;
   background: url(../img/garant-ico.png) 15% center no-repeat;
}

.social{
   margin-top: 20px;
}

.social-but{
   display: block;
   background: url('../img/ico-social.png') no-repeat scroll ;
   height: 37px;
   width: 37px;
   opacity: 0.31;
   cursor: pointer;
   float: left;
   margin-right: 14px;
}

.social-but:hover{
   opacity: 0.5;
}

.fb{
   background-position: -51px 0;
}

.tw{
   background-position: -104px 0;
}

.lj{
   background-position: -157px 0;
}

.mail-s{
   background-position: -209px 0;
}

.ok{
   background-position: -261px 0;
}

.gmail-s{
   background-position: -314px 0;
}

.info-block{
   font-size: 12px;
   line-height: 14px;
   text-transform: uppercase;
   color: #242020;
   width: 120px;
   box-sizing: border-box;
   border: 1px solid #e6e2d4;
   padding: 10px 0;
   text-align: center;
   margin-bottom: 12px;
   visibility: hidden;
}

.info-block img{
   margin-bottom: 7px;
}

.catalog-size-list li.link-to-table{
   background: none;
   padding-left: 10px;
   width: 140px;
   line-height: 40px;
   font-size: 13px;
}

.catalog-size-list li.link-to-table:hover{
   background: none;
}

.button-top{
   background: url('../img/button-top.png') no-repeat;
   width: 42px;
   height: 53px;
   cursor: pointer;
   opacity: 0.6;
   position: fixed;
   z-index: 30;
   right: 93px;
   bottom: 50px;
   display: none;
}

.button-top:hover{
   opacity: 1;
}

.card-light .workarea{
   padding: 0;
}

.title-light-product{
   font-size: 20px;
   line-height: 24px;
   font-family: 'Open Sans Condensed';
   color: #242634;
   text-transform: uppercase; 
   font-weight: bold;
   width: 195px;
}

body.card-light {
   min-width: 830px;
}

.card-light .fix-width{
   width: 830px;
}

.fast-preview-ifr{
   position: fixed;
   width: 870px;
   top: 45vh;
   background: #ffffff;
   z-index: 500;
   height: 60px;
   max-height: 90vh;
   left: 50%;
   margin-left: -425px;
   border: 3px solid #d6d0bd;
}


.preload{
   position: fixed;
   width: 850px;
   top: 45vh;
   background: #ffffff;
   z-index: 501;
   height: 30px;
   line-height: 60px;
   margin-top: 3px;
   text-align: center;
   left: 50%;
   margin-left: -415px;
}

.but-to-close-wind{
   position: absolute;
   font-family: Arial;
   font-size: 14px;
   color: #7d7a7f;
   cursor: pointer;
   right: 15px;
   top: 10px;
   z-index: 40;
}

.but-to-close-wind:hover{
   color: #242020;
   text-decoration: underline; 
}